.loginForm{
    height: 500px;
    padding: 40px;
    
    border-color: black;
    border-width: 1px;
    border-style: double;

    display: flex;
    justify-content: center;
    align-items: center;
}