.board-Form{

}

.search-Form{
  display: flex;
  align-items: center;
}

.write-button {
  position: relative;
}

.write-button button {
  position: right;
  right: 0;
  bottom: 8px;
  margin-left: 30px;
}