.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    
}

.contentWrapper {
  display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.sideMenu {
  position: fixed;
  top: 60px; /* 헤더 높이만큼 떨어뜨립니다. */
  left: 0;
  width: 200px;
  
  
  
}
.content {
    margin-left: 200px;
    /* background-color: green; */
    

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 9999; 다른 요소보다 우선 순위를 높게 설정합니다. */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}