.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: red;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sideMenu {
  position: fixed;
  top: 70px; /* 헤더 높이만큼 떨어뜨립니다. */
  left: 0;
  width: 200px;  
  font-weight: bold; 
  flex-shrink: 0;
  height: calc(100vh - 130px);
  background-color: aqua;
}

.content {
  margin-left: 200px;
  background-color: green;
  position: fixed;
  top: 70px;
  width: 100vw;
  height: calc(100vh - 130px); /* 130px은 header와 footer의 높이 합 */
  overflow: auto;
  flex: 1;
}

.footer {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}