.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.contentWrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}